{% extends "layout.html" %}

{% block content %}

<!-- 移除了固定位置的CSS类的导航栏 -->
<div id="part-menubar" class="noprint">
    <nav id="part-menu" style="display: flex; justify-content: space-around; align-items: center; background: #f2f2f2; padding: 10px;">
      <a href="http://parts.igem.org/Part:BBa_K4766009">main page</a>
      <a href="http://parts.igem.org/Part:BBa_K4766009:Design">design</a>
      <a href="http://parts.igem.org/Part:BBa_K4766009:Experience">experience</a>
      <a href="http://parts.igem.org/cgi/partsdb/part_info.cgi?part_name=BBa_K4766009">information</a>
      <div id="part_menu_key" style="position: relative;">
        <a href="#" style="color: inherit;">part tools</a>
        <div id="part_menu_div" style="display: none; position: absolute; top: 100%; left: 0; background: #ffffff; border: 1px solid #ccc; padding: 5px;">
          <!-- 下拉菜单内容，鼠标悬停时显示 -->
        </div>
      </div>
      <div id="e_part_menu_key" style="position: relative;">
        <a href="#" style="color: rgb(200, 150, 0);">edit</a>
        <div id="e_part_menu_div" style="display: none; position: absolute; top: 100%; left: 0; background: #ffffff; border: 1px solid #ccc; padding: 5px; color: #000;">
          <!-- 编辑菜单的内容，鼠标悬停时显示 -->
        </div>
      </div>
    </nav>
    </div>

<script>
    installMenu('part_menu_key', 'BBa_K4766009');
    e_installMenu('e_part_menu_key', 0, 'BBa_K4766009');
</script>

  <div class="editor-container">
    <textarea id="editor">Start your parts here ...</textarea>
  </div>

  <script>
    ClassicEditor
      .create(document.querySelector('#editor'))
      .then(editor => {
        console.log(editor);
      })
      .catch(error => {
        console.error(error);
      });

  </script>
<div style="min-height: 100vh;width:100%;background:#222124;">
    <h1 class="font-clash pure-new-title">
        Pure Parts Editor
    </h1>
    <div class="iwannasleep">
        <div id="pure-page-1">
            <div class="pure-new-button">
                <a href="#create">Creat a new part</a>
            </div>
            <div class="pure-new-button">
                <a href="#edit">Edit an existing part</a>
            </div>
        </div>
        <div id="create-2">
            <div class="scroll-placeholder" id="create"></div>
            <div class="create-form">
                    <form class="pure-form" id="part-type">
                        <span class="question">Part type</span>
                        <input type="radio" name="type" value="basic">Basic part
                        <input type="radio" name="type" value="composite">Composite part
                        <p class="small-ps">*A basic part is a functional unit of DNA that cannot be subdivided into smaller component parts. <br>&nbsp&nbspA composite part is a functional unit of DNA consisting of two or more basic parts assembled together.</p>
                    </form>
                    <form class="pure-form">
                        <span class="question">Part No.</span>
                        <input id="part_short_name" type="text" name="" placeholder="eg: BBa_K4630100">
                        <p class="small-ps">*You can check the numbers assigned to your team <a href="https://old.igem.org/Team.cgi#table_ranges">here</a>. Enter one you like, and we'll check if it's still available.</p>
                    </form>
                    <form class="pure-form">
                        <span class="question">Part Name</span>
                        <input id="part_short_desc" type="text" name="" placeholder="eg: stgRNA-cassette">
                        <p class="small-ps">*Name your part with a few words.</p>
                    </form>
                    <form class="pure-form">
                        <span class="question">Describe your part with paragraphs</span>
                        <div class="rich-text-container" id="main_page"></div>
                        <p class="small-ps">*This will be the content of your part's main page.</p>
                    </form>
                    <form class="pure-form">
                        <span class="question">Enter Sequence</span>
                        <textarea class="rich-text-container" id="sequence"></textarea>
                        <p class="small-ps">*For basic part, paste DNA sequence here.
                            <br>&nbsp&nbspFor composite part, your input can be a combination of three parts: Other basic part's number, assembly compatibility (eg. RFC[10], RFC[12]), and DNA sequence.
                        </p>
                    </form>
                <div>

                </div>
            </div>
        </div>
        <div id="edit-2">
            <div class="scroll-placeholder" id="edit"></div>
            <div class="pure-new-button">
                <a href="#create">yeah</a>
            </div>
            <div class="pure-new-button">
                <a href="#create">yeah2</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
