{% extends "layout.html" %}

{% block content %}

<!-- 移除了固定位置的CSS类的导航栏 -->
<div id="part-menubar" class="noprint">
    <nav id="part-menu" style="display: flex; justify-content: space-around; align-items: center; background: #f2f2f2; padding: 10px;">
      <a href="http://parts.igem.org/Part:BBa_K4766009">main page</a>
      <a href="http://parts.igem.org/Part:BBa_K4766009:Design">design</a>
      <a href="http://parts.igem.org/Part:BBa_K4766009:Experience">experience</a>
      <a href="http://parts.igem.org/cgi/partsdb/part_info.cgi?part_name=BBa_K4766009">information</a>
      <div id="part_menu_key" style="position: relative;">
        <a href="#" style="color: inherit;">part tools</a>
        <div id="part_menu_div" style="display: none; position: absolute; top: 100%; left: 0; background: #ffffff; border: 1px solid #ccc; padding: 5px;">
          <!-- 下拉菜单内容，鼠标悬停时显示 -->
        </div>
      </div>
      <div id="e_part_menu_key" style="position: relative;">
        <a href="#" style="color: rgb(200, 150, 0);">edit</a>
        <div id="e_part_menu_div" style="display: none; position: absolute; top: 100%; left: 0; background: #ffffff; border: 1px solid #ccc; padding: 5px; color: #000;">
          <!-- 编辑菜单的内容，鼠标悬停时显示 -->
        </div>
      </div>
    </nav>
    </div>

<script>
    installMenu('part_menu_key', 'BBa_K4766009');
    e_installMenu('e_part_menu_key', 0, 'BBa_K4766009');
</script>

  <div class="editor-container">
    <textarea id="editor">Start your parts here ...</textarea>
  </div>

  <script>
    ClassicEditor
      .create(document.querySelector('#editor'))
      .then(editor => {
        console.log(editor);
      })
      .catch(error => {
        console.error(error);
      });

  </script>

<div id="emmmm" style="width:100%;background:#222124;position:relative;">
    <h1 class="font-clash pure-new-title">
        Pure Parts Editor
    </h1>
    <div class="iwannasleep">
        <div id="pure-page-1">
            <div class="pure-new-button">
                <a href="#create">Creat a new part</a>
            </div>
            <div class="pure-new-button">
                <a href="#edit">Edit an existing part</a>
            </div>
        </div>
        <div id="create-2">
            <div class="scroll-placeholder" id="create"></div>
            <div class="create-form">
                    <form class="pure-form" id="part-type">
                        <span class="question">Part type</span>
                        <input type="radio" name="type" value="basic">Basic part
                        <input type="radio" name="type" value="composite">Composite part
                        <p class="small-ps">*A basic part is a functional unit of DNA that cannot be subdivided into smaller component parts. <br>&nbsp&nbspA composite part is a functional unit of DNA consisting of two or more basic parts assembled together.</p>
                    </form>
                    <form class="pure-form">
                        <span class="question">Part No.</span>
                        <input id="part_short_name" type="text" name="" placeholder="eg: BBa_K4630100">
                        <p class="small-ps">*You can check the numbers assigned to your team <a href="https://old.igem.org/Team.cgi#table_ranges">here</a>. Enter one you like, and we'll check if it's still available.
                        <span id="number-check-result" style="color:red"></span>
                        </p>
                    </form>
                    <form class="pure-form">
                        <span class="question">Part Name</span>
                        <input id="part_short_desc" type="text" name="" placeholder="eg: stgRNA-cassette">
                        <p class="small-ps">*Name your part with a few words.</p>
                    </form>
                    <form class="pure-form">
                        <span class="question">Describe your part with paragraphs</span>
                        <div class="rich-text-container" id="main_page">
                            <!-- 富文本编辑器放这里 -->
                        </div>
                        <p class="small-ps">*This will be the content of your part's main page.</p>
                    </form>
                    <form class="pure-form">
                        <span class="question">Enter Sequence</span>
                        <textarea class="rich-text-container" id="sequence"></textarea>
                        <p class="small-ps">*For basic part, paste DNA sequence here.
                            <br>&nbsp&nbspFor composite part, your input can be a combination of three parts: Other basic part's number, assembly compatibility (eg. RFC[10], RFC[12]), and DNA sequence.
                        </p>
                    </form>
                    <div style="width:100%; height:fit-content;position:relative;padding-bottom:50px;">
                        <div class="solid-button">
                            <a>Submit</a>
                        </div>
                    </div>
            </div>
            <a href="">
            <div class="pure-back-to" style="position:relative;margin:20px;">
                <div style="width:25px;height:25px;border-bottom:#387be6 6px solid;border-left:#387be6 6px solid;border-radius:0 0 0 5px;transform:rotate(45deg)"></div>
                <div style="position:absolute;top:-5px;left:30px;color:#387be6;font-family: Clash;font-weight: 600;font-size:1.5rem">Back</div>
            </div>
            </a>
        </div>
        <div id="edit-2">
            <div class="scroll-placeholder" id="edit"></div>
            <div class="create-form">
                <div style="display: flex;flex-wrap: nowrap;justify-content: center;align-content: flex-start;flex-direction: row;margin-bottom:20px;">
                    <div class="pure-new-button edit">
                        <a href="#add-main">Add content to main page</a>
                    </div>
                    <div class="pure-new-button edit">
                        <a href="#add-design">Add content to design</a>
                    </div>
                    <div class="pure-new-button edit">
                        <a href="#add-review">Add an experience review</a>
                    </div>
                    <div class="pure-new-button edit">
                        <a href="#edit-existing">Edit existing content</a>
                    </div>
                </div>
                <div style="height:fit-content;min-height: 50px;scroll-behavior: smooth;overflow-x: hidden;overflow-y: visible;display: flex;flex-direction: row;flex-wrap: nowrap;align-content: flex-start;justify-content: flex-start;align-items: flex-start;">
                    <div class="edit-card">
                        <div id="add-main" class="scroll-placeholder another"></div>
                        <div class="edit-form">
                            <form class="pure-form">
                                <span class="question">Part No.</span>
                                <input id="mainpage-part-number" type="text" name="" placeholder="eg: BBa_K4630100">
                                <!-- <p class="small-ps">Enter the you like to add an review.</p> -->
                            </form>
                            <form class="pure-form">
                                <span class="question">Enter review paragraphs</span>
                                <div class="rich-text-container" id="mainpage_content">
                                    <!-- 富文本编辑器放这里 -->
                                </div>
                                <p class="small-ps">*To avoid disturbing previous teams' content, this new submission will be added at the end of the page.
                                    <br>If you want to add content in the middle, go <a href="edit-existing">here</a>. Warning: This might break the layout of the whole page.
                                </p>
                            </form>
                            <form class="pure-form">
                                <span class="question">Tag your submission</span>
                                <input id="mainpage-tag" type="text" name="" placeholder="eg: whatever-you-like">
                                <p class="small-ps">*Should only contain letters, numbers and hyphens. This tag won't appear on the page. However if you want to edit your content in the future, it will help you locate your content quickly.</p>
                            </form>
                            <div style="width:100%; height:fit-content;position:relative;padding-bottom:50px;margin-top:20px;">
                                <div class="solid-button">
                                    <a>Submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-card">
                        <div id="add-design" class="scroll-placeholder another"></div>
                        <div class="edit-form">
                            <form class="pure-form">
                                <span class="question">Part No.</span>
                                <input id="design-part-number" type="text" name="" placeholder="eg: BBa_K4630100">
                                <!-- <p class="small-ps">Enter the you like to add an review.</p> -->
                            </form>
                            <form class="pure-form">
                                <span class="question">Enter review paragraphs</span>
                                <div class="rich-text-container" id="design_content">
                                    <!-- 富文本编辑器放这里 -->
                                </div>
                                <p class="small-ps">*To avoid disturbing previous teams' content, this new submission will be added at the end of the page.
                                    <br>If you want to add content in the middle, go <a href="edit-existing">here</a>. Warning: This might break the layout of the whole page.
                                </p>
                            </form>
                            <form class="pure-form">
                                <span class="question">Tag your submission</span>
                                <input id="design-tag" type="text" name="" placeholder="eg: whatever-you-like">
                                <p class="small-ps">*Should only contain letters, numbers and hyphens. This tag won't appear on the page. However if you want to edit your content in the future, it will help you locate your content quickly.</p>
                            </form>
                            <div style="width:100%; height:fit-content;position:relative;padding-bottom:50px;margin-top:20px;">
                                <div class="solid-button">
                                    <a>Submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-card">
                        <div id="add-review" class="scroll-placeholder another"></div>
                        <div class="edit-form">
                            <form class="pure-form">
                                <span class="question">Your team name</span>
                                <input id="team-name" type="text" name="" placeholder="eg: WHU-China 2023">
                                <!-- <p class="small-ps">Enter the you like to add an review.</p> -->
                            </form>
                            <form class="pure-form">
                                <span class="question">Part No.</span>
                                <input id="review-part-number" type="text" name="" placeholder="eg: BBa_K4630100">
                                <!-- <p class="small-ps">Enter the you like to add an review.</p> -->
                            </form>
                            <form class="pure-form">
                                <span class="question">Rate this part</span>
                                <div style="display:inline-block">
                                    <div id="rate-1" class="rate-dot" style="display:inline-block;width:20px;height:20px;background:transparent;border-radius:10px; border:solid 2px #08c784;"></div>
                                    <div id="rate-2" class="rate-dot" style="display:inline-block;width:20px;height:20px;background:transparent;border-radius:10px; border:solid 2px #08c784;"></div>
                                    <div id="rate-3" class="rate-dot" style="display:inline-block;width:20px;height:20px;background:transparent;border-radius:10px; border:solid 2px #08c784;"></div>
                                    <div id="rate-4" class="rate-dot" style="display:inline-block;width:20px;height:20px;background:transparent;border-radius:10px; border:solid 2px #08c784;"></div>
                                    <div id="rate-5" class="rate-dot" style="display:inline-block;width:20px;height:20px;background:transparent;border-radius:10px; border:solid 2px #08c784;"></div>
                                    <!-- <p class="small-ps">Enter the you like to add an review.</p> -->
                                </div>
                            </form>
                            <form class="pure-form">
                                <span class="question">Enter review paragraphs</span>
                                <div class="rich-text-container" id="review_content">
                                    <!-- 富文本编辑器放这里 -->
                                </div>
                                <!-- <p class="small-ps"></p> -->
                            </form>
                            <form class="pure-form">
                                <span class="question">Tag your submission</span>
                                <input id="review-tag" type="text" name="" placeholder="eg: whatever-you-like">
                                <p class="small-ps">*Should only contain letters, numbers and hyphens. This tag won't appear on the page. However if you want to edit your content in the future, it will help you locate your content quickly.</p>
                            </form>
                            <div style="width:100%; height:fit-content;position:relative;padding-bottom:50px;margin-top:20px;">
                                <div class="solid-button">
                                    <a>Submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-card" style="background:green">
                        <div id="edit-existing" class="scroll-placeholder another"></div>
                        <div class="edit-form"></div>
                    </div>
                </div>
            </div>
            <a href="">
                <div class="pure-back-to" style="position:relative;margin:20px;">
                    <div style="width:25px;height:25px;border-bottom:#387be6 6px solid;border-left:#387be6 6px solid;border-radius:0 0 0 5px;transform:rotate(45deg)"></div>
                    <div style="position:absolute;top:-5px;left:30px;color:#387be6;font-family: Clash;font-weight: 600;font-size:1.5rem">Back</div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}
