/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Full viewport height for the body */
  body {
    min-height: 100vh; /* Use min-height to ensure it covers the viewport height */
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif; /* Add your preferred font */
  }
  
  /* Header styles */
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px;
    padding-top: 110px; /* Consider adjusting this value as it seems quite large */

  }
  
  /* Editor container styles */
  .editor-container {
    display: flex;
    flex: 1; /* Takes up all available space */
    padding: 10px;
    justify-content: center; /* Center the editor horizontally */
    align-items: center; /* Center the editor vertically */
  }
  
  /* Editor content styles */
  .editor-content {
    width: 80%; /* Example width, adjust as necessary */
    max-width: 900px; /* Maximum width of the editor */
    height: auto; /* Adjust height as necessary, could use vh for viewport height */
    min-height: 500px; /* Minimum height, adjust as needed */
    background-color: #fff;
    padding: 20px; /* Increased padding for better aesthetics */
    border: 1px solid #ccc; /* Optional border */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional shadow for depth */
  }
  
  /* Iframe styles for embedded content such as a rich text editor */
  .editor-content iframe {
    width: 100%;
    height: 100%; /* Take up all available space */
    border: none; /* Remove default iframe border */
  }
  
  /* Adjust header and padding on smaller screens */
  @media (max-width: 768px) {
    /* ... existing responsive styles ... */
  
    .editor-content {
      width: 90%; /* Slightly more width on small screens */
      min-height: 300px; /* Adjusted for smaller screens */
    }
  }

    /* 设置编辑器容器的固定宽度 */
    .ck-editor__editable {
        width: 80vw; /* 或者你想要的任何固定宽度 */
        height: 50vh; /* 固定高度 */
        overflow-y: auto; /* 垂直内容超出时显示滚动条 */
        word-wrap: break-word; /* 在长单词或URL地址无法完全放入容器宽度时进行换行 */
    }

  .ck-sticky-panel .ck-toolbar {
    position: static !important;
}

    .ck-sticky-panel .ck-toolbar {
        position: static !important;
    }



  